[submodule "Dependencies/VulkanMemoryAllocator"]
	path = Dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	ignore = all
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
	ignore = all
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
	ignore = all
[submodule "Dependencies/ddspp"]
	path = Dependencies/ddspp
	url = https://github.com/redorav/ddspp.git
	ignore = all
[submodule "Dependencies/fast_obj"]
	path = Dependencies/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
	ignore = all
[submodule "Dependencies/PerlinNoise"]
	path = Dependencies/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
	ignore = all
[submodule "Dependencies/common-3d-test-models"]
	path = Dependencies/common-3d-test-models
	url = https://github.com/alecjacobson/common-3d-test-models.git
	ignore = all
